# list

In [2]:
lst=["hello","world",1,2,33]

In [4]:
lst[2]

1

In [5]:
type(lst)

list

In [6]:
lst.append(55)

In [7]:
print(lst)

['hello', 'world', 1, 2, 33, 55]

In [10]:
lst.index(1)

2

In [21]:
lst=['hello', 'world', 1, 2, 33, 55]

In [22]:
lst.pop(3)

2

In [23]:
lst

['hello', 'world', 1, 33, 55]

In [24]:
lst.pop(-1)

55

In [25]:
lst

['hello', 'world', 1, 33]

In [26]:
lst.count(1)

1

In [27]:
lst.insert(2,"bye")

In [28]:
lst

['hello', 'world', 'bye', 1, 33]

In [29]:
lst.reverse()

In [30]:
lst

[33, 1, 'bye', 'world', 'hello']

In [41]:
lst.clear()

In [42]:
lst

[]

In [46]:
lst=['hello','helloworld','super']

# dictionary

In [55]:
dit ={"name":"maniselvan","age":"18","address":"main road" }

In [56]:
dit

{'name': 'maniselvan', 'age': '18', 'address': 'main road'}

In [58]:
dit.get("name")

'maniselvan'

In [59]:
dit.items()

dict_items([('name', 'maniselvan'), ('age', '18'), ('address', 'main road')])

In [60]:
dit.keys()

dict_keys(['name', 'age', 'address'])

In [61]:
dit.pop("name")

'maniselvan'

In [62]:
dit

{'age': '18', 'address': 'main road'}

In [63]:
dit["from"]="tamilnadu"

In [64]:
dit

{'age': '18', 'address': 'main road', 'from': 'tamilnadu'}

In [65]:
type(dit)

dict

In [66]:
dit.values()

dict_values(['18', 'main road', 'tamilnadu'])

In [68]:
dit.update()

In [70]:
dit.clear()

In [71]:
dit

{}

# sets

In [72]:
st={3,6,6,2,9,6,44,}

In [73]:
st

{2, 3, 6, 9, 44}

In [74]:
st1={44,2}

In [75]:
st1.issubset(st)

True

In [78]:
st.add('33')

In [79]:
st

{2, 3, '33', 44, 6, 9}

In [86]:
st.pop()

2

In [87]:
st

{3, '33', 44, 6, 9}

# tuple

In [88]:
tup = ("hello","world","hai")

In [89]:
tup

('hello', 'world', 'hai')

In [90]:
tup.count("hai")

1

In [91]:
tup.index("world")

1

# string

In [92]:
str = ("hi","how","abcd")

In [93]:
str

('hi', 'how', 'abcd')

In [94]:
str.count("hai")

0

In [95]:
str.count("hi")

1

In [96]:
str.index("how")

1